html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../../assets/fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../../assets/fonts/roboto-v20-latin-regular.woff") format("woff"), url("../../../assets/fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../../../assets/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../../../assets/fonts/roboto-v20-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../../assets/fonts/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../../../assets/fonts/roboto-v20-latin-900.woff") format("woff"), url("../../../assets/fonts/roboto-v20-latin-900.ttf") format("truetype"), url("../../../assets/fonts/roboto-v20-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.wrapper__whole__page {
  margin: 0 auto;
  width: 1920px;
}

.btn {
  border: none;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  width: 245px;
  height: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn .btn__play {
  margin-right: 5px;
}

.header {
  width: 1920px;
}

.header__wrapper {
  width: 1620px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper .header__logo {
  margin: 26px 0 26px 0;
}

.header__wrapper .header__nav {
  margin-top: 37px;
}

.header__wrapper .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapper .header__nav .header__list .header__item {
  margin-right: 122px;
}

.header__wrapper .header__nav .header__list .header__item:last-child {
  margin: 0;
}

.header__wrapper .header__nav .header__list .header__item .header__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.header__wrapper .header__nav .header__list .header__item .header__link.active {
  font-weight: 900;
  border-bottom: 1px solid #333333;
}

.header__wrapper .header__switch__theme {
  margin-top: 25px;
}

.firstscreen__bg {
  margin-top: 10px;
  height: 940px;
  background: url(../../../assets/images/first__screen__background__image.png) no-repeat;
}

.social__links__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 722px 0 0 152px;
}

.social__links__nav .social__links__item {
  margin-bottom: 15px;
}

.social__links__nav .social__links__item:last-child {
  margin: 0;
}

.container__zoo__main {
  padding: 206px 0 0 360px;
}

.container__zoo__main .main__article {
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #fefefe;
  width: 793px;
  margin-bottom: 37px;
}

.main__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__slider .slider__topside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 360px;
}

.main__slider .slider__topside .main__article__btn {
  position: absolute;
}

.main__slider .slider__topside .main__slider__bar {
  position: absolute;
  top: 692px;
  left: 44.7%;
}

.main__slider .slider__topside .slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 615px;
}

.main__slider .slider__topside .slider__container .slider__item {
  z-index: 1;
  margin-right: 49px;
  margin-top: 40px;
}

.main__slider .slider__topside .slider__container .slider__item .slider__item-image {
  width: 140px;
  -webkit-filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
          filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
  position: relative;
}

.main__slider .slider__topside .slider__container .slider__item .slider__item-image.active {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  margin: 0 46px 0 46px;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.main__slider .slider__topside .slider__container .slider__item .slider__item-image.hidden {
  display: none;
}

.main__slider .slider__bottomside {
  margin: 60px 0 0 1156px;
}

.slider-light {
  margin-top: 40px;
}

.slider-light input[type="range"] {
  -webkit-appearance: none;
  width: 245px;
}

.slider-light input[type="range"]:focus {
  outline: none;
}

.slider-light input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #bdbdbd;
  border: 0px solid #000101;
}

.slider-light input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 30px;
  background: #fefefe;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.slider-light .slider__bottomside-count-current {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #fefefe;
  margin: 20px 0 11px 96px;
}

.slider-light .slider__bottomside-count-current span {
  font-size: 14px;
  line-height: 16.61px;
  color: #bdbdbd;
}

.slider-dark {
  margin-bottom: 30px;
}

.slider-dark input[type="range"] {
  -webkit-appearance: none;
  width: 245px;
}

.slider-dark input[type="range"]:focus {
  outline: none;
}

.slider-dark input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #bdbdbd;
  border: 0px solid #000101;
}

.slider-dark input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 30px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.slider-dark .slider__bottomside-count-current {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin: 0 0 11px 96px;
}

.slider-dark .slider__bottomside-count-current span {
  font-size: 14px;
  line-height: 16.61px;
  color: #bdbdbd;
}

.leftVector {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.middle-container {
  background-color: #fefefe;
  width: 1920px;
  margin-bottom: 101px;
}

.middle-container__wrapper {
  margin-top: 200px;
  margin-right: 565px;
  margin-left: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-container__wrapper .middle-container__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 30px;
}

.middle-container__wrapper .middle-container__article {
  width: 790px;
  margin-bottom: 30px;
}

.middle-container__wrapper .middle-container__image {
  margin-bottom: 30px;
}

.middle-container__wrapper .middle-container__slider-dark {
  margin-bottom: 30px;
  margin-left: 273px;
}

.features {
  background-color: #f2f2f2;
  width: 1920px;
  padding: 0 360px 0 360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .features-item {
  margin-top: 100px;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .features-item .features-image {
  margin-bottom: 15px;
}

.features .features-item .features-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
}

.features .features-item .features-article {
  margin-bottom: 132px;
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets .pets__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin: 100px 0 35px 0;
}

.pets .pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets .pets__slider .pets__slider-vector.leftVector {
  margin-right: 30px;
}

.pets .pets__slider .pets__slider__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.pets .pets__slider .pets__slider-vector {
  margin-bottom: 25px;
}

.pets .pets__btn {
  margin-top: -5px;
  margin-bottom: 100px;
}

.payNfeed {
  padding: 0 358px 100px 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.payNfeed .payNfeed__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 30px;
}

.payNfeed .payNfeed__article {
  margin-bottom: 92px;
}

.payNfeed .payNfeed__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1204px;
}

.payNfeed .payNfeed__container .payNfeed__container__item {
  width: 245px;
  height: 245px;
  border: 1px solid #4bd8b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.payNfeed .payNfeed__container .payNfeed__container__item .payNfeed__container-item-article {
  text-align: center;
  margin-top: 18px;
  width: 135px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #4f4f4f;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonials__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin-top: 100px;
}

.testimonials .testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 61px 0 49px 0;
}

.testimonials .testimonials__slider .testimonials__slider-vector.leftVector {
  margin-right: 30px;
}

.testimonials .testimonials__slider .testimonials__slider__item {
  width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  margin-right: 30px;
}

.testimonials .testimonials__slider .testimonials__slider__item .testimonials__slider__item-image {
  margin-top: 47px;
}

.testimonials .testimonials__slider .testimonials__slider__item .testimonials__slider__item-name {
  margin-top: 17px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

.testimonials .testimonials__slider .testimonials__slider__item .testimonials__slider__item-article {
  margin: 17px 72px 106px 73px;
  text-align: left;
}

.testimonials .testimonials__btn {
  margin-bottom: 100px;
}
