// Reset styles
@import "reset.scss";
// Import fonts
@import "fonts.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

// Overall styles
//Button for light theme
.btn {
  border: none;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  width: 245px;
  height: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn__play {
    margin-right: 5px;
  }
}

// Header styles start
.header {
  width: 1920px;
}

.header__wrapper {
  width: 1620px;
  margin: 0 auto;
  .header__logo {
    margin: 26px 0 26px 0;
  }
  display: flex;
  justify-content: space-between;
  .header__nav {
    margin-top: 37px;
    .header__list {
      display: flex;
      .header__item {
        margin-right: 122px;
        &:last-child {
          margin: 0;
        }
        .header__link {
          text-decoration: none;
          font-size: 16px;
          line-height: 19px;
          color: #333333;
          &.active {
            font-weight: 900;
            border-bottom: 1px solid #333333;
          }
        }
      }
    }
  }
  .header__switch__theme {
    margin-top: 25px;
  }
}
// Header styles end

// Main styles start
.firstscreen__bg {
  height: 940px;
  background: url(../../../assets/images/first__screen__background__image.png)
    no-repeat;
}

  .social__links__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 722px 0 0 152px;
    .social__links__item {
      margin-bottom: 15px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .container__zoo__main {
    padding: 206px 0 0 360px;
    .main__article {
      font-weight: 900;
      font-size: 89px;
      line-height: 104px;
      color: #fefefe;
      width: 793px;
      margin-bottom: 37px;
    }
  }
  .main__slider {
    display: flex;
    flex-direction: column;
    .slider__topside {
      display: flex;
      margin-left: 360px;
      .main__article__btn{
        margin-right: 370px;
      }
      .main__slider__bar {
        position: absolute;
        top: 595px + 94px;
        left: 840px;
      }
      .slider__item {
        z-index: 1;
        margin-right: 46px;
        margin-top: 44px;
       img{
         width: 140px;
         filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
         &.active {
           transform: scale(1.75);
          margin: 0 46px 0 46px;
          }
         }
        }
      } 
    }
     .slider__bottomside{
       margin: 80px 0 0 1161px;
     }
  }


// Main styles end
